Repository bethanyann/dsd-cohort-2024, pull requests merged in 2024-04, with the labels that each got.

#76 adding bootstrap data file to initialize test users
  Backend_Application/src/main/java/dsd/cohort/application/bootstrap/BootstrapData.java
Labels: MVP, feature - login, back end, subtask

#69 feature-RecipeDomain initial
  .gitignore
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeController.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeDTO.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeEntity.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeRepository.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeService.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeServiceImpl.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserEntity.java
  Frontend_Application/package-lock.json
  Frontend_Application/package.json
Labels: MVP, back end, feature - database, subtask

#87 Draft for discussion
  Backend_Application/pom.xml
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientController.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientDTO.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientEntity.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientRepository.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientService.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientServiceImpl.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeController.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeDTO.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeEntity.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeRepository.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeService.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeServiceImpl.java
Labels: MVP, back end, feature - my grocery list

#124 removed redundant annotations and imports
  Backend_Application/src/main/java/dsd/cohort/application/user/UserEntity.java
Labels: back end

#127 add functionality for authenticating logins
  Backend_Application/src/main/java/dsd/cohort/application/Utils/Utility.java
  Backend_Application/src/main/java/dsd/cohort/application/bootstrap/BootstrapData.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserController.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserRequestDTO.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserService.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserServiceImpl.java
Labels: feature - login, back end

#138 Urgent fix to Recipe-Ingredient relationship
  Backend_Application/src/main/java/dsd/cohort/application/Utils/Utility.java
  Backend_Application/src/main/java/dsd/cohort/application/bootstrap/BootstrapData.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientController.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientEntity.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientService.java
  Backend_Application/src/main/java/dsd/cohort/application/ingredient/IngredientServiceImpl.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeController.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeEntity.java
  Backend_Application/src/main/java/dsd/cohort/application/recipe/RecipeServiceImpl.java
  Backend_Application/src/main/java/dsd/cohort/application/user/UserController.java
Labels: back end
